*, *::after, *::before {
  box-sizing: border-box; }

:host {
  display: block;
  background-color: white; }

paper-fab {
  background-color: #4540ff; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

[content] {
  background-color: #FFFFFF; }

/* background for toolbar when it is condensed */
core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: #1f285a; }

core-toolbar {
  color: white;
  background-color: #1f285a; }

core-toolbar a {
  color: white; }

core-toolbar [icon="arrow-back"] {
  padding-left: 0; }

core-toolbar paper-icon-button {
  display: block;
  padding-left: 0; }

.card-header {
  height: 260px;
  background: url(/images/paperscape1.jpg);
  background-size: cover;
  color: #FFFFFF;
  position: relative; }

.card-header .single-line {
  position: absolute;
  bottom: 16px;
  left: 16px; }

.card-header core-image {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.card-header .card-name {
  color: #FFFFFF;
  margin-left: 16px;
  font-size: 24px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8); }

.group {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  position: relative; }

.item {
  padding: 10px 72px;
  color: #666666;
  position: relative; }

.item core-icon {
  position: absolute;
  left: 16px;
  top: 24px;
  color: #212121; }

.item-input {
  padding: 0; }

.item-input::shadow #decorator {
  padding-top: 0;
  padding-bottom: 0; }

.double-line-1 {
  margin-top: 5px;
  margin-bottom: 6px; }

.double-line-2 {
  font-size: 13px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.4); }

.animate-spinning {
  -webkit-animation: spin 2s infinite linear !important;
  animation: spin 2s infinite linear !important; }

paper-icon-button {
  margin-top: 10px;
  vertical-align: middle; }

paper-icon-button[icon="av:play-circle-fill"]::shadow #icon {
  height: 50px;
  width: 50px; }

paper-icon-button.hover:hover {
  background: #eee;
  border-radius: 50%; }

paper-icon-button.red {
  color: #fe774d; }

paper-icon-button.blueRipple::shadow #ripple {
  color: #4285f4; }

paper-icon-button.huge::shadow #icon {
  width: 100px;
  height: 100px; }

/*      core-selector paper-icon-button:not([active])::shadow core-icon {
  color: #c9c9c9;
}
*/
paper-icon-button.custom {
  color: #a9edff; }

@media screen and (min-width: 640px) {
  :host {
    background-color: transparent; }

  [content] {
    width: 640px;
    margin: 64px auto; }

  core-toolbar {
    color: #F1F1F1;
    background-color: #1f285a; } }
