@import '../styles/base';

core-toolbar {
  color: $light-text;
  background-color: $primary-color;
}
core-toolbar a {
  color: $light-text;
}
core-toolbar [icon="arrow-back"] {
  padding-left: 0;
}
#title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content {
  background-color: #FFFFFF;
}
.item {
  margin-left: $padding-horizontal;
  color: $dark-text-secondary;
}
.item:last-child {
  margin-right: $padding-horizontal;
}
.item-icon {
  margin-top: $baseline;
  width: 40px;
}
.item-input {
  color: $dark-text-secondary;
  border-color: $dark-text-secondary;
}
.item-input /deep/ .unfocused-underline {
  /* line and cursor color when the input has focus */
  background-color: $dark-text-secondary;
}
.item-input /deep/ .focused-underline,
.item-input /deep/ .cursor {
  /* line and cursor color when the input has focus */
  background-color: $accent-color;
}
.item-menu {
  width: 100px;
}
.item-menu /deep/ #control[selected] {
  color: $dark-text-secondary;
}
.animate-spinning {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@media screen and (min-width: 640px) {
  :host {
    background-color: transparent;
  }
  .content {
    margin: 64px auto;
    padding-bottom: 16px;
    width: 640px;
  }
}
